@font-face {
  font-family: 'OptimaLT';
  src: url("../fonts/OptimaLT.eot?#iefix") format("embedded-opentype"), url("../fonts/OptimaLT.woff") format("woff"), url("../fonts/OptimaLT.ttf") format("truetype"), url("../fonts/OptimaLT.svg#OptimaLT") format("svg");
  font-weight: normal;
  font-style: normal;
}

.black-friday {
  background: url(../images/bg.jpg) center top no-repeat;
  font-family: 'OptimaLT';
  padding-bottom: 150px;
}

.black-friday-bg {
  padding-bottom: 248px;
  background: url(../images/bg-balloons.jpg) center bottom no-repeat;
}

.black-friday-in {
  width: 1366px;
  margin: 0 auto;
  padding-top: 570px;
  position: relative;
}

.black-friday-in .percent-off {
  height: 477px;
}

.black-friday-in .percent-off .plist {
  text-align: center;
}

.black-friday-in .percent-off .plist .item {
  width: 277px;
  height: 155px;
  background: url("../images/sprite-pc.png") no-repeat;
  display: inline-block;
  margin: 0 46px;
  text-indent: -999em;
}

.black-friday-in .percent-off .plist .item.item2 {
  background-position: -300px 0;
}

.black-friday-in .percent-off .plist .item.item2 {
  background-position: -600px 0;
}

.black-friday-in .percent-off .discount-tips {
  font-size: 32px;
  text-align: center;
  color: #c5af97;
  padding: 20px 0;
}

.black-friday-in .percent-off .countdown-in {
  width: 520px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  background: url("../images/sprite-pc.png") 0 -180px no-repeat;
}

.black-friday-in .percent-off .countdown-in div {
  position: absolute;
  top: 0;
  width: 110px;
  left: 0;
  color: #c2ad96;
  font-size: 60px;
  font-family: Impact;
  text-align: center;
  letter-spacing: 10px;
  height: 90px;
  line-height: 90px;
}

.black-friday-in .percent-off .countdown-in .days {
  left: 0;
}

.black-friday-in .percent-off .countdown-in .hours {
  left: 137px;
}

.black-friday-in .percent-off .countdown-in .minutes {
  left: 273px;
}

.black-friday-in .percent-off .countdown-in .seconds {
  left: 410px;
}

.black-friday-in .special-offer {
  position: relative;
  height: 640px;
}

.black-friday-in .special-offer .img {
  position: absolute;
  top: 60px;
  left: 15px;
}

.black-friday-in .special-offer .title {
  background: url("../images/sprite-pc.png") 0 -310px no-repeat;
  width: 720px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 509px;
  text-indent: -999em;
}

.black-friday-in .special-offer .limit-time-sale {
  text-indent: -999em;
  background: url("../images/sprite-pc.png") 0 -385px no-repeat;
  width: 320px;
  height: 141px;
  left: 894px;
  top: 185px;
  position: absolute;
}

.black-friday-in .special-offer .shop-btn {
  text-indent: -999em;
  position: absolute;
  top: 400px;
  left: 895px;
}

.black-friday-in .special-offer .shop-btn a {
  display: block;
  width: 320px;
  height: 60px;
  background: url("../images/sprite-pc.png") -600px -180px no-repeat;
}

.black-friday-in .guarantee {
  height: 89px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.black-friday-in .guarantee .item {
  width: 33%;
  float: left;
  position: relative;
  text-indent: -999em;
}

.black-friday-in .guarantee .item:after {
  content: ' ';
  height: 41px;
  position: absolute;
  display: block;
  background: url("../images/sprite-pc.png") no-repeat;
  top: 28px;
  left: 42px;
}

.black-friday-in .guarantee .item1:after {
  background-position: -350px -385px;
  width: 340px;
}

.black-friday-in .guarantee .item2 {
  width: 40%;
}

.black-friday-in .guarantee .item2:after {
  background-position: -350px -430px;
  width: 410px;
}

.black-friday-in .guarantee .item3 {
  width: 26.9%;
}

.black-friday-in .guarantee .item3:after {
  background-position: -350px -470px;
  width: 340px;
  top: 20px;
}

.black-friday-in .shopping-for {
  margin-top: 55px;
}

.black-friday-in .shopping-for .title {
  margin-left: 315px;
  width: 740px;
  height: 120px;
  background: url("../images/sprite-pc.png") 0 -540px no-repeat;
  text-indent: -999em;
}

.black-friday-in .shopping-for .plist {
  margin-top: 105px;
}

.black-friday-in .shopping-for .plist .item {
  width: 50%;
  float: left;
  height: 500px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.black-friday-in .shopping-for .plist .item .col1 {
  width: 300px;
  float: left;
}

.black-friday-in .shopping-for .plist .item .col2 {
  float: left;
  width: 340px;
  color: #2f1914;
  position: relative;
}

.black-friday-in .shopping-for .plist .item .col2 .col2-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}

.black-friday-in .shopping-for .plist .item .col2 .col2-desc {
  font-size: 24px;
}

.black-friday-in .shopping-for .plist .item .col2 .bf-btn {
  position: absolute;
  top: 305px;
  left: 0;
}

.black-friday-in .shopping-for .plist .item .col2 .bf-btn a {
  display: block;
  background: #2f1914;
  color: #fff;
  width: 320px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
}

.black-friday-in .shopping-for .plist .item1:before, .black-friday-in .shopping-for .plist .item3:before, .black-friday-in .shopping-for .plist .item5:before {
  position: absolute;
  display: block;
  content: '';
  right: 0;
  width: 1px;
  border-right: 1px solid #ddd;
  height: 425px;
  top: 38px;
}

.black-friday-in .style {
  margin-top: 60px;
  padding-bottom: 60px;
}

.black-friday-in .style .title {
  margin-left: 435px;
  width: 495px;
  height: 135px;
  background: url("../images/sprite-pc.png") 0 -670px no-repeat;
  text-indent: -999em;
}

.black-friday-in .style .plist {
  margin-top: 125px;
}

.black-friday-in .style .item {
  float: left;
  text-align: center;
  position: relative;
  color: #2f1914;
}

.black-friday-in .style .item .style-title {
  font-size: 28px;
  font-weight: bold;
}

.black-friday-in .style .item .style-desc {
  font-size: 24px;
  width: 230px;
  margin: 30px auto 0;
  line-height: 1.2;
}

.black-friday-in .style .item .bf-btn a {
  display: block;
  width: 240px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #2f1914;
  border: 1px solid #2f1914;
  font-size: 24px;
  margin: 60px auto 0;
}

.black-friday-in .style .item1 {
  width: 360px;
}

.black-friday-in .style .item2 {
  width: 600px;
}

.black-friday-in .style .item3 {
  width: 400px;
}

.black-friday-in .style .item1:before, .black-friday-in .style .item2:before {
  position: absolute;
  display: block;
  content: '';
  right: 0;
  width: 1px;
  border-right: 1px solid #ddd;
  height: 595px;
  top: 0;
}
 

 /*# sourceMappingURL= style.css.map */